@staticImagesSrc: "../images"; // 引用图片的前缀
@headerBgColor: #1f2b2f; // 头部背景色
@headerColor: #ddd; // 头部颜色
@leftMenuActiveBgColor: #353c45; // 左侧菜单激活背景色
@leftMenuColor: #ddd; // 左侧菜单字体颜色
.borderRadius(@radius: 50%) {
    -webkit-border-radius: @radius; 
       -moz-border-radius: @radius; 
        -ms-border-radius: @radius; 
         -o-border-radius: @radius; 
            border-radius: @radius; 
}