@staticImagesSrc: "../images"; // 引用图片的前缀
@headerBgColor: #b3c1cd; // 头部背景色
@headerColor: #fff; // 头部颜色
@leftMenuBgColor: #444856; // 左侧菜单背景色
@leftMenuActiveBgColor: #353c45; // 左侧菜单激活背景色
@leftMenuColor: #fff; // 左侧菜单字体颜色
@leftMenuActiveColor: #0bc5de; // 左侧菜单
.borderRadius(@radius: 50%) {
    -webkit-border-radius: @radius; 
       -moz-border-radius: @radius; 
        -ms-border-radius: @radius; 
         -o-border-radius: @radius; 
            border-radius: @radius; 
}